* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

a {
  text-decoration: unset;
  color: unset;
}
body::-webkit-scrollbar {
  display: none;
}
button {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  padding: 0.3rem;
}
body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* overflow-y: hidden; */
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #fff;
  box-shadow: 0 0 4px 4px #0000001a;
}
.site-logo {
  margin-right: auto;
}
header {
  /* height: 70px; */
  display: flex;
  align-items: center;

  background-color: #fafafa;
}

header a {
  text-decoration: none;
  color: #626262;
  font-weight: 600;
  padding: 3px 15px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

header button {
  cursor: pointer;
}

header .home-logo {
  height: 3.5rem;
  width: 9.5rem;
  margin-right: auto;
  margin-left: 4rem;
}
header .home-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nav {
  display: flex;
  padding-right: 30px;
}
footer {
  background-color: #000000;
  margin-top: auto;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
}
.download-flex {
  display: flex;
}
.footer-social {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.top-image {
  width: 100%;
}
.top-image img {
  width: 100%;
}
.cata-page {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cata-flex {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.deliv-flex {
  display: flex;
  gap: 1.5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: center;
  align-items: center;
}
.deliver {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 25rem;
  background-color: #fafafa;
  padding-left: 1.5rem;
}
.large-icon {
  font-size: 7rem;
}
.catalogue-list-container {
  padding-inline: 17px;
  width: 100%;
}

/* .van-list-filter-buttons {
  display: flex;
  flex-wrap: wrap;
}

.van-list-filter-buttons > a {
  margin-right: 15px;
} */

.catalogue-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1rem;

  width: 100%;
}

/* .van-tile a {
  color: #161616;
  text-decoration: none;
} */

.catalogue-tile img {
  max-width: 100%;
  border-radius: 10px;
  width: 25rem;
}

.catalogue-list-container button {
  margin-right: 20px;
  cursor: pointer;
}
.form-sub {
  outline: none;
}
.form-sub:focus {
  outline: none;
}
.download-button {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
}
.btn-download {
  background-color: transparent;
  color: #fafafa;
  outline: none;
  border: 1px solid #fafafa;
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .catalogue-tile img {
    /* max-width: 100%; */
    border-radius: 10px;
    width: 20rem;
    height: 15rem;
    object-fit: contain;
  }
}
faq-pad h1 {
  font-family: Manrope;
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 0.0015em;
  text-align: left;
  color: #03015d;
}
.faq-background {
  background-image: url(/images/Rectangle00.png);
  height: 20rem;
  padding-top: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.faq-background h2 {
  font-family: Product Sans;
  font-size: 2.5rem;
  padding: 5rem 5rem;
  font-weight: 700;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.faq-pad {
  padding: 3rem 5rem;
}
.faq-arrk {
  background-color: #f6f6f6;
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.faq-arrk h2 {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-right: auto;
}
.faq-line h2 {
  color: #000000;
}
.faq-arrow {
  display: flex;
  gap: 1rem;
  height: 2rem;
  /* justify-content: center; */
  align-items: center;
}
.faq-arrow h2 {
  color: #393939;
}
.faq-line {
  display: block;
}
.faq-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.arrow-faq {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
.arrow-faq img {
  width: 100%;
  height: 100%;
}
.faq-block {
  display: flex;
  gap: 1rem;
}
.arrow-para {
  padding-left: 3rem;
  padding-right: 2rem;
  color: #393939;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0016em;
}

.catalogue-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3px;
}

.catalogue-type:hover {
  color: #fff;
}

.catalogue-type:focus {
  outline: none;
}

.catalogue-type.selected {
  color: #fff;
}

.catalologue-type.phone:hover,
.catalogue-type.phone.selected {
  background-color: #000000;
  color: #fafafa;
}

.catalogue-detail-container {
  margin-bottom: 1.5rem;
  padding-inline: 27px;
}

.catalogue-detail-container .back-button {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: black;
  text-decoration: none;
}

.catalogue-detail-container .back-button span {
  text-decoration: underline;
}
.cart-top {
  display: flex;
}
.cart-top h2 {
  margin-right: auto;
}
.cart-item {
  display: flex;
  align-items: center;

  /* justify-content: center; */
}
.cart-btn {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1rem;
}
.cart-btn span {
  padding-left: 5px;
  padding-right: 5px;
}
.checkout {
  margin-top: 60%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cancel-btt {
  display: flex;
  gap: 1rem;
}
.check-btn {
  width: 70%;
  color: #fff;
  background-color: black;
  outline: none;
  transition: 200ms all cubic-bezier(0.8, 0, 0.8, 1);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.form-area {
  margin-bottom: 1rem;
}
.cart-flexi {
  display: flex;
  margin-right: 100px;
}
.cart-flexi p {
  padding-right: 20px;
}
/* Cart.css */
.cart-view {
  /* Define styles for the cart */
  position: fixed;
  top: 2.8rem;
  right: 0; /* Initially hidden to the right */
  width: 45%;
  height: 100%;
  background-color: white;
  transition: right 0.3s ease-in-out;
}

.cart.open {
  /* Show the cart when 'open' class is applied */
  right: 0;
}
